.contenedor{
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-left: 600px;
    border-width: 50px;
    border: 2px solid black;
    /*
    background-color: pink;
    align-content: flex-end;  //no funcionaba porque el align-content estaba antes que el flex-direction
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin-left: 600px;
    */
}
div{
    background-color: white;
    margin: 0px;
    width: 30px;
    font-size: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    color: white;
}
.one{
    background-color: red;
}
.two{
    background-color: blue;
}
.three{
    background-color: green;
}
.number{
    display: flex;
    justify-content: center;
    margin-top: 40%;
}