.contenedor{
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 600px;
    border-width: 50px;
}
div{
    background-color: #f1f1f1;
    margin: 0px;
    width: 30px;
    font-size: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    color: white;
}
.one{
    background-color: red;
}
.two{
    background-color: blue;
    color: white;
}
.three{
    background-color: green;
    color: white;
}