.contenedor{
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    margin-left: 30%;
}
#azul,
#amarillo,
#verde,
#rojo{
    width: 500px;
    height: 125px;
    border-color: black;
}
#azul{
    background-color: blue;
}
#amarillo{
    background-color: yellow;
}
#verde{
    background-color: green;
}
#rojo{
    background-color: red;
}